*{
    margin: 0;
    padding: 0;
}


.header{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-image: linear-gradient(rgb(4,9,30,0.7),rgb(4,9,30,0.7)),url(./images/Angkorwat.jpg);
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    animation: change 15s infinite ease-in-out;
}


.title small{
    display: block;
    text-align: center;
    color: aliceblue;
    font-size: 35px;
    font-weight: 500;
    line-height: 15px;
}


.navbar {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.navbar img{
    margin: 10px;
    width: 50px;
    height: 50px;
}

.nav{
    margin-top: 24px;
    margin-right: 20px;
    display: flex;
    list-style: none;
    gap: 20px;
    text-decoration: none;
}

.nav-item a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  position: relative;
  padding-bottom: 5px;
  transition: color 0.3s ease;
}

.nav-item a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #f0c040;
  transition: width 0.3s ease;
}

.nav-item a:hover {
  color: #f0c040;
}

.nav-item a:hover::after {
  width: 50%; 
}

.header .title h1{
    color: white;
    font-size: 98px;
    text-align: center;
}

.header .title p{
    color: white;
    font-size: 24px;
    line-height: 42px;
}

@keyframes change {
  0%
  {
    background-image: linear-gradient(rgb(4,9,30,0.7),rgb(4,9,30,0.7)),url(./images/2-CAMBODIA-pic-3-1694x900.jpg);
  }
  20%
  {
    background-image: linear-gradient(rgb(4,9,30,0.7),rgb(4,9,30,0.7)),url(./images/mountain.jpg);
  }
  40%
  {
    background-image: linear-gradient(rgb(4,9,30,0.7),rgb(4,9,30,0.7)),url(./images/Angkorwat1.jpg);
  }
  60%
  {
    background-image: linear-gradient(rgb(4,9,30,0.7),rgb(4,9,30,0.7)),url(./images/Cambodia-Koh-Songsaa-Private-Island-Preah-Sihanuk-Province-1694x900.jpg);
  }
  80%
  {
    background-image: linear-gradient(rgb(4,9,30,0.7),rgb(4,9,30,0.7)),url(./images/2-CAMBODIA-pic-1-1694x900.jpg);
  }
  100%
  {
    background-image: linear-gradient(rgb(4,9,30,0.7),rgb(4,9,30,0.7)),url(./images/Cambodia-Taprom-Temple-Siem-Reap-1694x900.jpg);
  }
  
}

.about {
  width: 100%;
  height: auto;
  margin-top: 30px;
  background-color: #f0c040;
  display: grid;
  grid-template-areas: "description" "img";
  grid-template-columns: 1fr 1fr;
}
.description {
  grid-area: description;
  text-align: center;
  line-height: 2;
  margin-left: 5%;
}
